<script src="/javascripts/book.js"></script>
<select id="select">
  <option selected value="0">All Genres</option>
  {{#each genres}}
    <option value="{{id}}">{{genre_name}} Genre</option>
  {{/each}}
</select>

{{#each data}}
  <section class="flex books" id="{{genre_id}}">
    <img src="{{cover_url}}" />
    <div>
      <a href="/book/specific/{{id}}">
          {{title}}
      </a>
      <br>
      <p>Authored By:</p>
      {{#each authors}}
        <a href="/author/specific/{{id}}">
         {{first_name}} {{last_name}}
      </a>
        <br>
      {{/each}}
      <br> {{description}}
      <br>
      <a href="/book/delete/{{id}}">
        <i class="fa fa-remove" aria-hidden="true"></i>
      </a>
      <a href="/book/edit/{{id}}">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </div>
  </section>
{{/each}}
<a href="/book/new">Add Book</a>
