<section class="flex delete">
  <img src="{{book.cover_url}}" />
  <div>
    {{book.title}}
    <br>
    <p>
      Author(s):
    </p>
    <ul>
      {{#each authorNames}}
        <li>
          <a href="/author/specific/{{id}}">
              {{first_name}} {{last_name}}
          </a>
        </li>
      {{/each}}
    </ul>
    <br>
    {{book.description}}
    <br>
    <form action="/book/{{book.id}}?_method=DELETE" method="post">
      <button class="deleteAnchor" type="submit">Delete {{book.title}}?</button>
    </form>
  </div>
</section>
