<section class="flex specific">
  <img src="{{book.cover_url}}" />
  <div>
    {{book.title}}
    <br>
    <p>
      Author(s):
    </p>
    <ul>
      {{#each authorNames}}
        <li>
          <a href="/author/specific/{{id}}">
              {{first_name}} {{last_name}}
          </a>
        </li>
      {{/each}}
    </ul>
    <br> {{book.description}}
    <br>
    <a href="/book/delete/{{book.id}}">
      <i class="fa fa-remove" aria-hidden="true"></i>
    </a>
    <a href="/book/edit/{{book.id}}">
      <i class="fa fa-pencil" aria-hidden="true"></i>
    </a>
  </div>
</section>
